<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
  <% @users.each do |user| %>
    <p><%= user.name %>:<%= @skills %></p>
  <% end %>
</div>
